@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter-element {
  transition: --num 2s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}

.counter-element::after {
  content: counter(num);
}


@font-face {
  font-family: 'poppins';
  src: url('../../public/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppinsBold';
  src: url('../../public/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppinsItalic';
  src: url('../../public/fonts/Poppins-Italic.ttf');
}
@font-face {
  font-family: 'poppinsExtraBold';
  src: url('../../public/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: 'poppinsBoldItalic';
  src: url('../../public/fonts/Poppins-BoldItalic.ttf');
}
@font-face {
  font-family: 'poppinsExtraBoldItalic';
  src: url('../../public/fonts/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'inter';
  src: url('../../public/fonts/static/Inter-Regular.ttf');
}

@font-face {
  font-family: 'interBold';
  src: url('../../public/fonts/static/Inter-Bold.ttf');
}

@font-face {
  font-family: 'interExtraBold';
  src: url('../../public/fonts/static/Inter-ExtraBold.ttf');
}

body {
  margin:0;
}
/* 
input {
  all: unset;
} */